<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c1.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,526},{457,146}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{457,146}}</string>
                <key>sourceSize</key>
                <string>{457,166}</string>
            </dict>
            <key>c2.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,191},{329,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,94}}</string>
                <key>sourceSize</key>
                <string>{329,94}</string>
            </dict>
            <key>c3.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,257},{375,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,124}}</string>
                <key>sourceSize</key>
                <string>{375,124}</string>
            </dict>
            <key>c4.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{642,181}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{642,181}}</string>
                <key>sourceSize</key>
                <string>{646,181}</string>
            </dict>
            <key>c5.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,526},{464,107}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{464,107}}</string>
                <key>sourceSize</key>
                <string>{468,107}</string>
            </dict>
            <key>l1.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,688},{90,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,264}}</string>
                <key>sourceSize</key>
                <string>{90,264}</string>
            </dict>
            <key>l2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,257},{135,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,257}}</string>
                <key>sourceSize</key>
                <string>{135,257}</string>
            </dict>
            <key>l3.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,958},{40,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,221}}</string>
                <key>sourceSize</key>
                <string>{40,221}</string>
            </dict>
            <key>l4.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,688},{116,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,257}}</string>
                <key>sourceSize</key>
                <string>{116,257}</string>
            </dict>
            <key>o1.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,526},{154,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,148}}</string>
                <key>sourceSize</key>
                <string>{154,148}</string>
            </dict>
            <key>o2.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,464},{55,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{55,72}}</string>
                <key>sourceSize</key>
                <string>{57,72}</string>
            </dict>
            <key>o3.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,387},{77,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,71}}</string>
                <key>sourceSize</key>
                <string>{77,71}</string>
            </dict>
            <key>o4.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,958},{59,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,73}}</string>
                <key>sourceSize</key>
                <string>{59,73}</string>
            </dict>
            <key>o5.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,328},{203,127}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,127}}</string>
                <key>sourceSize</key>
                <string>{203,129}</string>
            </dict>
            <key>t1.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,688},{117,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,326}}</string>
                <key>sourceSize</key>
                <string>{117,326}</string>
            </dict>
            <key>t2.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,505},{77,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,63}}</string>
                <key>sourceSize</key>
                <string>{77,63}</string>
            </dict>
            <key>t3.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,4},{318,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,348}}</string>
                <key>sourceSize</key>
                <string>{318,348}</string>
            </dict>
            <key>t4.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,387},{274,295}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,295}}</string>
                <key>sourceSize</key>
                <string>{274,295}</string>
            </dict>
            <key>w1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,191},{541,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{541,60}}</string>
                <key>sourceSize</key>
                <string>{541,60}</string>
            </dict>
            <key>w2.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,328},{205,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,171}}</string>
                <key>sourceSize</key>
                <string>{205,171}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>small.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:76eb3eda3c6cfd663813efe46671782a$</string>
            <key>textureFileName</key>
            <string>small.png</string>
        </dict>
    </dict>
</plist>
