<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1st.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,304},{49,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,29}}</string>
                <key>sourceSize</key>
                <string>{49,29}</string>
            </dict>
            <key>2nd.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,107},{62,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,31}}</string>
                <key>sourceSize</key>
                <string>{62,31}</string>
            </dict>
            <key>3rd.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,171},{55,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,31}}</string>
                <key>sourceSize</key>
                <string>{55,31}</string>
            </dict>
            <key>bg_ranking.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{747,661}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{747,661}}</string>
                <key>sourceSize</key>
                <string>{747,661}</string>
            </dict>
            <key>bg_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1575},{566,406}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{566,406}}</string>
                <key>sourceSize</key>
                <string>{566,406}</string>
            </dict>
            <key>bg_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,913},{549,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{549,353}}</string>
                <key>sourceSize</key>
                <string>{549,353}</string>
            </dict>
            <key>btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1983},{50,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,56}}</string>
                <key>sourceSize</key>
                <string>{50,56}</string>
            </dict>
            <key>btn_enter.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,400},{228,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,85}}</string>
                <key>sourceSize</key>
                <string>{228,85}</string>
            </dict>
            <key>btn_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,786},{66,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,119}}</string>
                <key>sourceSize</key>
                <string>{66,119}</string>
            </dict>
            <key>btn_ranking.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,355},{156,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,41}}</string>
                <key>sourceSize</key>
                <string>{156,41}</string>
            </dict>
            <key>btn_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,665},{66,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,119}}</string>
                <key>sourceSize</key>
                <string>{66,119}</string>
            </dict>
            <key>btn_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,1983},{110,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,42}}</string>
                <key>sourceSize</key>
                <string>{110,42}</string>
            </dict>
            <key>btn_setting_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,690},{175,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{175,72}}</string>
                <key>sourceSize</key>
                <string>{177,74}</string>
            </dict>
            <key>btn_setting_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,513},{175,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{175,72}}</string>
                <key>sourceSize</key>
                <string>{177,74}</string>
            </dict>
            <key>btn_start_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,313},{228,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,85}}</string>
                <key>sourceSize</key>
                <string>{228,85}</string>
            </dict>
            <key>frame_man.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,1049},{197,279}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,279}}</string>
                <key>sourceSize</key>
                <string>{197,279}</string>
            </dict>
            <key>frame_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,768},{197,279}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,279}}</string>
                <key>sourceSize</key>
                <string>{197,279}</string>
            </dict>
            <key>frame_woman.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,487},{197,279}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,279}}</string>
                <key>sourceSize</key>
                <string>{197,279}</string>
            </dict>
            <key>item_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,907},{666,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{666,60}}</string>
                <key>sourceSize</key>
                <string>{666,60}</string>
            </dict>
            <key>item_rank1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,851},{666,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{666,60}}</string>
                <key>sourceSize</key>
                <string>{666,60}</string>
            </dict>
            <key>item_rank2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,789},{666,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{666,60}}</string>
                <key>sourceSize</key>
                <string>{666,60}</string>
            </dict>
            <key>item_rank3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,727},{666,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{666,60}}</string>
                <key>sourceSize</key>
                <string>{666,60}</string>
            </dict>
            <key>item_rank_self.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,665},{666,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{666,60}}</string>
                <key>sourceSize</key>
                <string>{666,60}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,107},{238,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,113}}</string>
                <key>sourceSize</key>
                <string>{238,113}</string>
            </dict>
            <key>man.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,2},{103,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,241}}</string>
                <key>sourceSize</key>
                <string>{103,241}</string>
            </dict>
            <key>mask_round.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,1983},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>select.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,867},{166,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,40}}</string>
                <key>sourceSize</key>
                <string>{166,40}</string>
            </dict>
            <key>txt_audioEff.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,1983},{109,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,44}}</string>
                <key>sourceSize</key>
                <string>{109,44}</string>
            </dict>
            <key>txt_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,228},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>txt_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,1983},{109,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,44}}</string>
                <key>sourceSize</key>
                <string>{109,44}</string>
            </dict>
            <key>txt_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,267},{37,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,35}}</string>
                <key>sourceSize</key>
                <string>{37,35}</string>
            </dict>
            <key>txt_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,867},{91,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,43}}</string>
                <key>sourceSize</key>
                <string>{91,43}</string>
            </dict>
            <key>txt_tanking.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1983},{147,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,47}}</string>
                <key>sourceSize</key>
                <string>{147,47}</string>
            </dict>
            <key>woman.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,222},{89,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,232}}</string>
                <key>sourceSize</key>
                <string>{89,232}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FENDIUI.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a21a325579bd80dfda88f267ee8ba451$</string>
            <key>textureFileName</key>
            <string>FENDIUI.png</string>
        </dict>
    </dict>
</plist>
